.shell {
    display: grid;
    grid-template-columns: #{$nav-width} calc(100% - #{$nav-width});
    grid-template-areas: 'Nav Main';
    height: 100vh;

    &__main {
        grid-area: Main;
        background-color: white;
        overflow-y: scroll;

        &__container {
            padding: 20px;
        }
    }

    &__nav {
        grid-area: Nav;
    }
}
