.shell__nav {
    background-color: black;
    color: white;

    .nav {
        &__header {
            padding: 20px 20px;
            border-bottom: 1px solid white;
            display: flex;
            flex-flow: column;
            align-items: center;

            header {
                font-size: 20px;
                font-family: 'Roboto', sans-serif;
                letter-spacing: 1px;
                padding: 5px 0;
            }

            &__caption {
                font-family: 'Ubuntu', sans-serif;
                padding: 5px 0;
            }

            &__footer {
                display: flex;
                flex-direction: row;
            }
        }

        &__items-list {
            display: flex;
            flex-direction: column;
        }

        &__item {
            padding: 10px 20px;
            position: relative;
            overflow: hidden;
            z-index: 1;

            &:after{
                position: absolute;
                content: '';
                color: transparent;
                border-radius: 50%;
                background: transparent;
            }

            &:before {
                transition: all .5s;
            }

            &:hover {
                color: black;
                cursor: pointer;
                font-weight: 800;
            }

            &:hover:after {
                animation: circle 1.5s ease-in forwards;
            }

            > a {
                font-family: 'Ubuntu', sans-serif;
                color: inherit;
                text-decoration: none;
            }
        }
    }

    @keyframes circle {
        0% {
            width: 1px;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            height: 1px;
            z-index: -1;
            background: #eee;
            border-radius: 100%;
        }
        100% {
            background: white;
            height: 5000%;
            width: 5000%;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            border-radius: 0;
        }
    }
}
