.shell {
    display: grid;
    grid-template-columns: 400px calc(100% - 400px);
    grid-template-areas: 'Nav Main';
    height: 100vh;

    &__main {
        grid-area: Main;
        background-color: #e5e5e5;

        &__container {
            overflow-y: auto;
        }
    }

    &__nav {
        grid-area: Nav;
    }
}
